html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }


/* General */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 50px auto 50px auto;
}


/* Header */
.header__container {
    margin-bottom: 150px;
}

.nav {
    position: fixed;
    top: 50px;
    z-index: 2;
    background-color: #000;
}

.header__nav {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    color: #fff;
}

.nav__logo {
    border: 1px solid #fff;
    padding: 8px;
    cursor: pointer;
    transition: all 400ms ease;
}
.nav__logo:hover {
    border: 1px solid #0087ca;
}

.nav__logo a {
    font-family: 'Crimson Pro';
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
}

.nav__menu {
    display: flex;
    gap: 80px;
    font-size: 18px;
}

.nav__menu-item {
    display: inline-block;
    position: relative;
    transition: all 400ms ease;
}

.nav__menu-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: 
  #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav__menu-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav__burger-btn {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 35px;
    height: 2px;
    margin: 10px 0;
    background-color: #fff;
}



/* Main */
.main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.main__info-text h1 {
    margin-bottom: 40px;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 48px;
}

.main__info-text p {
    margin-bottom: 40px;
    width: 410px;
    font-size: 24px;
    line-height: 29px;
}

.main__info-img {
    position: relative;
}

.btn {
    cursor: pointer;
}

.btn a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: all 400ms ease;
}

.btn a:hover {
    color: #0087ca;
}

.arrow {
    margin-left: 10px;
    border: solid #0087ca;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.main__info-about {
    position: absolute;
    top: 470px;
    right: 30px;
    width: 410px;
    height: 190px;
    background-color: #181719;
    padding: 20px;
}

.main__info-about p {
    margin-top: 15px;
    width: 287px;
    font-family: 'Lora', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
}

.main__info-about-user {
    display: flex;
    align-items: center;
}

.main__info-about-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main__info-about-text {
    margin-left: 20px;
}
.main__info-about-text small {
    margin-top: 5px;
    font-size: 12px;
    color: #828282;
}


/* Footer */
footer {
    margin-top: 150px;
    text-align: center;
    color: #A9A9A9;
}

footer a:nth-child(1) {
    font-weight: 700;
}

footer a {
    color: #A9A9A9;
    transition: all 400ms ease;
}

footer a:hover {
    text-decoration: underline;
    color: #0087ca;
}


/* Media */
@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .main__info-text h1 {
        font-size: 36px;
    }
    .main__info-text p {
        width: 320px;
        font-size: 18px;
    }
    .main__info-about {
        top: 270px;
        right: 30px;
        width: 310px;
        height: 170px;
    }
    .main__info-about p {
        width: 200px;
        margin-top: 10px;
        font-size: 18px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 800px;
    }
    .main__info {
        gap: 60px;
    }
    .main__info-text h1 {
        font-size: 28px;
    }
    .main__info-text p {
        font-size: 16px;
    }
    .btn a {
        font-size: 16px;
    }
    .main__info-about {
        top: 220px;
    }
    .main__info-about p {
        width: 180px;
        margin-top: 10px;
        font-size: 16px;
    }
    .nav__menu-item {
        display: none;
    }
    .nav__burger-btn {
        display: block;
    }
}